<div class="container">
  <div class="row">
     <div class="col-12 d-flex bd-highlight flex-wrap" >
        <% @artists.each do |artist|%>
          <div class="card m-4" style="width: 14rem">
            <img src="<%= artist.image_url %>" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title text-center"><%= artist.name %></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary btn-block">Ver más</a>
              </div>
          </div> 
        <% end %>
     </div>
  </div>
</div>


