<div class="container bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">
    <nav class="navbar navbar-light">
      <span class="navbar-brand mb-0 h1 text-secondary">Real Music</span>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="btn btn-dark" >
            <a class="nav-link text-secondary" href="#">Artistas<span class="sr-only">(current)</span></a>
          </li>
          <li class="btn btn-dark">
            <a class="nav-link text-secondary" href="#">Mi música<span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-dark text-secondary" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Mi cuenta</button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action 1</button>
                <button class="dropdown-item" type="button">Action 2</button>
                <button class="dropdown-item" type="button">Action 3</button>
            </div>
          </div>
      </form>
    </div>
  </nav>
</div>

    
